{% load i18n %}{% autoescape off %}
{% blocktrans %}Vous avez demandé à réinitialiser votre mot de passe.{% endblocktrans %}

{% trans "Vous pouvez maintenant valider cette demande en cliquant le lien ci-dessous:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Votre nom d'utilisateur, si jamais vous l'avez oublié est:" %} {{ user.get_username }}

{% trans "Merci d'utiliser notre site web!" %}


{% endautoescape %}